@use 'vars';

header {
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 3em 0 3em 0;
  border-bottom: 1px solid #000;

  // @media all and (min-width: $small-screen) {
  //   /* On big screens, apply small margin on left */
  //   margin: auto auto auto 20px;
  // }

  // @media all and (max-width: $small-screen) {
  /* On small screens, we are no longer using row direction but column */
  flex-direction: column;
  // }

  .logo {
    flex: 0 1 auto;
    // width: 20%;
    // @media all and (max-width: $small-screen) {
    /* On small screens layout is vertical with full-width logo */
    width: 100%;
    // max-width: 350px;
    // }
    font-family: vars.$logo-font-stack;
    font-weight: bold;
    text-align: center;
    font-size: 5rem;
    line-height: 0.8em;

    a {
      text-decoration: none;
      color: #000;
    }

    img {
      width: 100%;
    }
  }
  .subtitle {
    // @media all and (max-width: $small-screen) {
    /* small screens */
    font-size: 1.4rem;
    // font-family: vars.$serfi-font-stack;
    margin-top: 1rem;
    // margin: 1em 0 0.5em 0;
    // }
    // @media all and (min-width: $small-screen) {
    //   /* big screens */
    //   margin-left: 22px;
    //   font-size: 22px;
    // }

    color: #888;
  }

  nav {
    flex: 1 1 auto;
    text-align: right;
    // background-color: #000;

    // border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 0 0 2em 0;
    /* border above and below menu */
    // border-top: 1px solid #999;
    // border-bottom: 1px solid #999;
    // padding-bottom: 5px;
    width: 100%;
    // padding-left: 5%;
    // padding-right: 5%;
    // @media all and (min-width: $small-screen) {
    //   /* big screens, extend border more to the sides */
    //   padding-left: 20%;
    //   padding-right: 20%;
    // }

    // @media all and (max-width: $small-screen) {
    font-size: 1.2em;
    margin-top: 2em;
    margin-bottom: 1.5em;
    text-align: center;
    // }
    a {
      // color: #fff;
      color: #000;
      text-decoration: none;
      margin: 0 10px;
    }
  }
}
