@use 'vars';

.post-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  i {
    font-size: 1.4rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
  }

  .container {
    h2 {
      font-size: 1.3rem;
      margin: 0 0 0.6rem 0;
    }

    .description {
      flex: 1 auto;
      font-size: 1rem;
      font-style: italic;
      margin-bottom: 1.3rem;
    }
  }
}
