$font-stack: Arial, Helvetica, sans-serfi;
$serfi-font-stack: "Palatino Linotype", "Book Antiqua", "Palatino", "Times New Roman", "serif";
// $serfi-font-stack: "Times New Roman", "Times", "serif";
$small-screen: 920px;
$basic-font-size: 16px;
$small-basic-font-size: 12px;

$logo-font-stack: "Helvetica", $font-stack;
